<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>信息发展私有云平台概要</title>
    <link rel="stylesheet" href="../css/mint.css">
	<link rel="stylesheet" type="text/css" href="iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body scroll="yes">
	<div class="wrapper">
		<div class="content" style="overflow-y:scroll;height: 500px">
            <mt-loadmore :top-method="loadTop" :auto-fill="false" ref="loadmore">
            <div class="data-list-box clearfix">
                <h3>合计</h3>
                <div class="data-list">
                    <span class="data-name">时间</span>
                    <span class="data-num" v-if="datas == null"><mt-spinner color="#26a2ff" type="fading-circle"></mt-spinner></span>
                    <span class="data-num" v-else v-html="datas.query.startTime + '/' + datas.query.endTime"></span>
                </div>
                <div class="data-list">
                    <span class="data-name">总金额</span>
                    <span class="data-num" v-if="datas == null"><mt-spinner color="#26a2ff" type="fading-circle"></mt-spinner></span>
                    <span class="data-num" v-else v-html="datas.total.totalString"></span>
                </div>
                <div class="data-list">
                    <span class="data-name">云主机数量</span>
                    <span class="data-num" v-if="datas == null"><mt-spinner color="#26a2ff" type="fading-circle"></mt-spinner></span>
                    <span class="data-num" v-else v-html="datas.total.serverCount"></span>
                </div>
                <div class="data-list">
                    <span class="data-name">CPU核数</span>
                    <span class="data-num" v-if="datas == null"><mt-spinner color="#26a2ff" type="fading-circle"></mt-spinner></span>
                    <span class="data-num" v-else v-html="datas.total.cpuCount"></span>
                </div>
                <div class="data-list">
                    <span class="data-name">CPU小时数</span>
                    <span class="data-num" v-if="datas == null"><mt-spinner color="#26a2ff" type="fading-circle"></mt-spinner></span>
                    <span class="data-num" v-else v-html="datas.total.cpuHours"></span>
                </div>
                <div class="data-list">
                    <span class="data-name">内存数GB</span>
                    <span class="data-num" v-if="datas == null"><mt-spinner color="#26a2ff" type="fading-circle"></mt-spinner></span>
                    <span class="data-num" v-else v-html="datas.total.memorySize/1024"></span>
                </div>
                <div class="data-list">
                    <span class="data-name">内存GB小时数</span>
                    <span class="data-num" v-if="datas == null"><mt-spinner color="#26a2ff" type="fading-circle"></mt-spinner></span>
                    <span class="data-num" v-else v-html="datas.total.memoryHoursString"></span>
                </div>
                <div class="data-list">
                    <span class="data-name">硬盘容量GB</span>
                    <span class="data-num" v-if="datas == null"><mt-spinner color="#26a2ff" type="fading-circle"></mt-spinner></span>
                    <span class="data-num" v-else v-html="datas.total.volumeSize"></span>
                </div>
            </div>
			<div class="module-box clearfix" >
				<div class="module" v-for="group in groups">
					<div class="module-left">
						<div class="module-left-name multi" v-if="group.name.length > 6"><span v-html="group.name"></span></div>
                        <div class="module-left-name" v-else><span v-html="group.name"></span></div>
						<div class="module-left-data">
                            <i class="icon iconfont icon-qian"></i><span v-html="group.totalString"></span>
						</div>	
					</div>
					<div class="module-right">
                        <ul>
                            <li>
                                <span class="item-name">云主机数量</span>
                                <span class="item-data" v-html="group.serverCount"></span>
                            </li>
                            <li>
                                <span class="item-name">CPU核数</span>
                                <span class="item-data" v-html="group.cpuCount"></span>
                            </li>
                            <li>
                                <span class="item-name">CPU小时数</span>
                                <span class="item-data" v-html="group.cpuHoursString"></span>
                            </li>
                            <li>
                                <span class="item-name">内存数GB</span>
                                <span class="item-data" v-html="group.memorySize/1024"></span>
                            </li>
                            <li>
                                <span class="item-name">内存GB小时数</span>
                                <span class="item-data" v-html="group.memoryHoursString"></span>
                            </li>
                            <li>
                                <span class="item-name">硬盘容量GB</span>
                                <span class="item-data" v-html="group.volumeSize"></span>
                            </li>
                        </ul>
					</div>
				</div>
			</div>
            </mt-loadmore>
		</div>

	</div>
</body>
<style>
    span.data-num {
        display: inline-flex;
    }

</style>
<script type="text/javascript" src="../js/jquery.min.js"></script>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/vue-resource.js"></script>
<script type="text/javascript" src="../js/mint.js"></script>
<script type="text/javascript">
	$(function(){
		$('.module-right').each(function(index,element){
			var itemNameWidth=0;
			var itemDataWidth=0;
			var _this=$(element);
			_this.find('.item-name').each(function(i,elem){
				if($(elem).width()>itemNameWidth){
					itemNameWidth=Math.ceil($(elem).width()+1);
				}
			});
			_this.find('.item-name').width(itemNameWidth);


			_this.find('.item-data').each(function(i,elem){
				if($(elem).width()>itemDataWidth){
					itemDataWidth=Math.ceil($(elem).width()+1);
				}
			});
			_this.find('.item-data').width(itemDataWidth);
		});


	});
</script>
<script type="text/javascript" src="index.js"></script>
</html>