@charset "utf-8";

@import "iconfont/iconfont.css";
@import "mint";
//common
$common-bg-color:#f9f9f9;
$common-color:#1B7DCE;
$font-color:#333;
$font-size:0.24rem;
$common-margin:0.30rem;
$article-font-size:0.28rem;
$border-radius:8px;
$white-color:#fff;
$line-height:1.5;
$video-height:4rem;
$border-color:#ddd;

//footer
$footer-bg-color:#f3f8ff;

//navbar
$navbar-color:#E5EEF9;
$navbar-font-size:0.32rem;
$navber-height:0.8rem;

//header
$header-height:0.96rem;
$header-font-size:0.38rem;

//menulist
$menulist-height:0.75rem;
$menulist-border-color:#bbb;
$menulist-icon-width:0.66rem;
$menulist-iconfont-size:0.4rem;

//dot
$dot-width:0.12rem;
$dot-height:0.12rem;
$dot-bg-color:#EF7810;

//yunjisuan
$cloud-sum-money-bg-color:#F78923;
$cloudSum-height:0.78rem;
$cloudlist-bg-color:#30A3E5;
$cloudlist-money-bg-color:#78C8F3;
$cloudlist-money-font-size:0.5rem;

//aboutme
$aboutme-iconfont-size:0.4rem;
$aboutme-font-size:0.3rem;

@mixin textoverflow(){
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.page-tabbar {
    overflow: hidden;
    height: 100vh;
    background:$common-bg-color;
}
.page-wrap{
    position:absolute;
    left:0;
    right:0;
    top:$header-height;    
}

.page-video{
    width: 100%;
    height:$video-height;
    video,
    img{
        width:100%;
        height:100%;
    }
}
.mint-loadmore-text{
    font-size:$font-size;
}
.mint-tab-item-label{
    font-size:inherit;
}
.mint-header,
.page-back{
    height:$header-height;
    background:$common-color;
    font-size:$header-font-size;
}
.page-back{
    width:100%;
    display:block;
    text-decoration:none;
    color:$white-color;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    .mintui-back{
        padding: 0.3rem;
        display: inline-block;
    }
}

.mint-tab-container{
    margin-top:$navber-height / 2 ;
    margin-bottom:$navber-height / 2  + 0.1;
}
.mint-navbar{
    height:$navber-height;  
    background:$navbar-color;
    position:fixed;
    left:0;
    right:0;
    top:$header-height;
    z-index:1;
    .mint-tab-item{
        padding:0.26rem 0;
        font-size:$navbar-font-size;
        color:$font-color;
        &.is-selected{
            color:$common-color;
            border:0;
            margin:0;
        }
    }
}

.mint-tabbar{
    background-color:$footer-bg-color;
    .iconfont{
        display:block;
        font-size:0.4rem;
    }
    .footerText{
        font-size:0.18rem;
    }
    .mint-tab-item-label{
        font-size:0.4rem;
    }
    .mint-tab-item{
        color:$font-color;
    }
    .mint-tab-item.is-selected {
        background-color: transparent;
        color: $common-color;
    }
}


.mtslider{
    text-align:center;
    img {
        max-width:100%;
        height:4.41rem;
    }
    &.productslider{
        img{
            height:5.63rem;
        }
    }
}

.mtArticle{
    margin-bottom:$common-margin;
    .mtArticleH1{
        padding:$common-margin;
        font-size:$article-font-size;
        color:$common-color;
        img{
            width:0.38rem;
            height:0.38rem;
        }
        img,
        span{
            vertical-align:middle;
        }
        .iconfont{
            font-size:0.38rem;
            font-weight:normal;
        }
    }
    p{
        margin:0 $common-margin $common-margin / 2 $common-margin;
        text-indent:$font-size * 2;
        font-size:$font-size;
        line-height:$line-height;
        text-align:left;
    }
    .mtDesList{
        margin-bottom:$common-margin;
        li{
            margin:$common-margin / 2 $common-margin 0 $common-margin;
            font-size: $font-size;
            line-height: $line-height;
            position:relative;
            span{
                display: inline-block;
                width: $dot-width;
                height: $dot-height;
                background: $dot-bg-color;
                border-radius: $dot-width;
                margin-right: 0.2rem;
                margin-left: 0.2rem;
                position: absolute;
                top: 0.16rem;
            }
            a{
                display: inline-block;
                margin-left:0.5rem;
            }
        }
    }
}

.mtMenulist {
    ul {
        width:100%;
        float:left;
        li{
            float:left;
            height:$menulist-height;
            font-size:$font-size;
            text-align:center;
            width:50%; 
            margin-bottom:$common-margin;
            > a{
                margin:0 $common-margin / 2 0 $common-margin;
                display:block;
                border:1px solid $menulist-border-color;
                border-radius:$border-radius;
                line-height:$menulist-height;
                text-decoration: none;
                color:$font-color;
                @include textoverflow;
                .iconfont{
                    font-size:$menulist-iconfont-size;
                    margin-right:0.1rem;
                    color:$common-color;
                }
                &:active {
                    color:$white-color;
                    background:$common-color;
                    border-color:$common-color;
                    .iconfont{
                        color:$white-color;
                    }
                }
            }
            i,span{
                vertical-align:middle;
            }
            &:nth-child(even) {
                > a {
                    margin-right: $common-margin;
                    margin-left: $common-margin / 2;
                }
            }
        }
    }
    &.mtMenulistDashuju {
        margin-top:$common-margin;
        li{
            width:25%;
            > a{
                border-color:$common-color;
            }
            &:nth-child(even) {
                > a {
                    margin-right: $common-margin;
                    margin-left: $common-margin/2;
                }
            }
            &:nth-child(2),
            &:nth-child(3) {
                > a {
                    margin-right: $common-margin / 2;
                    margin-left: $common-margin / 2;
                }
            }
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7){
                width:33.3%;
            }
            &:nth-child(6) {
                > a {
                    margin-right: $common-margin / 2;
                    margin-left: $common-margin / 2;
                }
            }
            &:nth-child(7) {
                > a {
                    margin-left: $common-margin / 2;
                    margin-right: $common-margin;
                }
            }
        }
        
        
    }
}



.menulist{
    margin-bottom:$common-margin;
    ul{
        float:left;
        width:100%;
        li{
            float:left;
            width:50%;
            @include textoverflow;
            > p{
                margin:$common-margin #{$common-margin / 2} 0 $common-margin;
                border:1px solid $common-color;
                border-radius:$border-radius;
                color:$font-color;
                font-size:$font-size;
                height:$menulist-height;
                .iconfont{
                    font-size:$menulist-iconfont-size;
                    background:$common-color;
                    border-radius:$border-radius - 2;
                    width: $menulist-icon-width;
                    display: inline-block;
                    height: 100%;
                    line-height: $menulist-height;
                    text-align: center;
                    color:$white-color;
                }
                .iconfont,
                .menuText{
                    vertical-align:middle;
                }
            }
            &:nth-child(even) {
                p{
                    margin-right:$common-margin;
                    margin-left:$common-margin / 2;
                }
            }
        }
    }
}


.cloudBox{
    margin:0 $common-margin;
    .cloudSum{
        margin-top:$common-margin;
        background:$cloud-sum-money-bg-color;
        border-radius:$border-radius;
        text-align:center;
        color:$white-color;
        height:$cloudSum-height;
        line-height:$cloudSum-height;
        .textxS,
        .textM,
        .unit{
            vertical-align:top;
        }
        .textxS{
            font-size:0.26rem;
        }
        .textM{
            font-size:0.44rem;
            font-weight:bold;
        }
    }
    .cloudDeatil{
        margin-top:$common-margin;
        ul{
            width:100%;
            float:left;
            li{
                float:left;
                width:50%;
                font-size:$font-size;
                color:$font-color;
                padding:0.1rem 0;
                .cloudDetailName,
                .item-name{
                    display:inline-block;
                    width:1.8rem;
                    text-align:right;
                    padding-right:0.1rem;
                }
                .data-num{
                    color:$common-color;
                }
            }
        }
    }
    .cloudlist {
        margin-top:$common-margin;
        margin-bottom:$common-margin;
        .module{
            margin-bottom:$common-margin;
            background:$cloudlist-bg-color;
            font-size:$font-size;
            color:$white-color;
            border-radius:$border-radius;
            width:100%;
            .module-left,
            .module-right{
                display:table-cell;
                vertical-align:middle;
            }
            .module-left{
                .module-left-name{
                    text-align: center;
                    @include textoverflow;
                    font-size:$font-size + 0.06;
                    width:2.3rem;
                    margin-bottom:$common-margin;
                    margin-left:$common-margin;
                    &.multi{
                        margin-bottom:0;
                        span{
                            display:block;
                            text-align:center;
                            line-height:$line-height;
                            &.tip{
                                font-size:$font-size;
                            }
                        }
                    }
                }
                .module-left-data{
                    background:$cloudlist-money-bg-color;
                    margin-left:$common-margin;
                    padding:#{ $common-margin + 0.2 } 0;
                    width:2.3rem;
                    box-shadow: 1px 1px 2px 0 rgba(15,30,50,0.5);
                    border-radius: $border-radius;
                    text-align:center;
                    .iconfont{
                        font-size:$font-size;
                    }
                    >span{
                        font-size:$cloudlist-money-font-size;
                        .unit{
                            font-size:$font-size;
                        }
                    }
                }
            }
            .module-right {
                ul{
                    margin:$common-margin;
                }
                ul,
                li{
                    float:none;
                }
                li{
                    width:auto;
                    span{
                        color:$white-color;
                    }
                }
            }
        }
    }
}

.aboutMe{
    .iconfont{
        font-size:$aboutme-iconfont-size;
        vertical-align:middle;
        padding-left:0.1rem;
        padding-right: 0.1rem;
        color:$common-color;
    }
    .mint-cell-text{
        font-size:$aboutme-font-size;
        color:$font-size;
    }
}


.section{
    margin-top:$header-height;
    font-size:$font-size;
    color:$font-color;
    line-height:$line-height;
    p{
        margin-left:0;
        margin-right:0;
    }
    .sectionMargin{
        margin:0 $common-margin $common-margin $common-margin;
    }
    .articleImg{
        text-align:center;
        .oneImg{
            max-width:100%;
            max-height:5rem;
        }
        .twoImg{
            float:left;
            width:50%;
        }
    }
    .articlelist {
        ul{
            text-indent:$font-size * 2;
        }
    }
    h1{
        font-size: $font-size;
        position:relative;
        .iconDot{
            display: inline-block;
            width: $dot-width;
            height: $dot-height;
            background: $dot-bg-color;
            border-radius: $dot-width;
            margin-right: 0.2rem;
            margin-left: 0.2rem;
            position: absolute;
            top: 0.16rem;
        }
        a{
            display: inline-block;
            margin-left:0.5rem;
        }
    }
    .articalTable{
        table {
            width:100%;
            th,
            td{
                padding:0.2rem;
                border: 1px solid $border-color;
            }
            th{
                background:$common-color;
                color:$white-color;
            }
            td{
                vertical-align:middle;
            }
        }
    }
}

.fade-enter-active {
    animation:slideInRight 0.3s linear;
}
.page-tabbar.fade-enter-active{
    animation:slideInLeft 0.3s linear;
}
.fade-leave-active {
    //animation:slideInLeft 0.1s linear;
}
.fade-enter,
.fade-leave-active {
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
            transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}