@charset "utf-8";

//color
$colorWhite:#fff;

//header setting
$headerbgcolor:#38373d;
$headerheight:0.82rem;

//footer setting
$footerbgcolor:#f7f7f7;
$footerheight:0.99rem;
$footercolor:#b5b5b5;
$footeractivecolor:#0abe07;

html,
body{
	height:100%;
}
a{
	text-decoration:none;
	&:hover,
	&:active,
	&:focus{
		text-decoration:none;
	}
}
.pageWrapper{
	max-width:640px;
	height:100%;
	margin:0 auto;
	background:$colorWhite;
	position:relative;
}

header,
footer,
.content{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
}

header{
	background:$headerbgcolor;
	height:$headerheight;
	color:$colorWhite;
	h3{
		font-size:0.34rem;
		text-align:center;
		line-height:$headerheight;
	}
}

footer{
	background:$footerbgcolor;
	height:$footerheight;
	border-top:1px solid $footercolor;
	top:auto;
	> a {
		float:left;
		width:25%;
		text-align:center;
		color:$footercolor;
		font-size:0.16rem;
		.iconfont{
			font-size:0.43rem;
			margin-top:0.17rem;
			margin-bottom:0.10rem;
			display:block;
		}
		&.router-link-active{
			color:$footeractivecolor;
		}
	}
}

.content{
	top:$headerheight;
	bottom:$footerheight;
}