.coral-button {
	border: 1px solid #cecece;
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: 1.42857143;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	overflow: visible; /* removes extra width in IE */
	background: #f5f5f5;
}

.coral-menubutton-buttons .ctrl-toolbar-element {
  	width: 100%;
	text-align: left;
}
.coral-menubutton-buttons .coral-splitbutton-element{
	border-right: 0 none;
}
.coral-menubutton-buttons .coral-button-icon-only .icon {
	left: 0;
	margin-left: 7px;
}

.coral-menubutton-buttons .coral-splitbutton-dropdownbutton{
	width: 28px;
	position: absolute;
	right: 0;
}

.coral-button.coral-state-hover {
	color: #333;
	background-color: #ebebeb;
	border-color: #cfcfcf;
}

.coral-splitbutton .coral-menu {
	width: 116px;
}
.coral-menubutton .coral-menu {
	width: 116px;
}
.coral-menubutton-buttons .coral-menubutton-button-item {
	display: block;
	margin-top: 3px;
}
.coral-menubutton-buttons {
	display: none;
	padding: 3px;
	border: 1px solid #e1e1e1;
	background: white;

	min-height: 20px;
	min-width: 65px;
}
.coral-button.coral-state-active {
	background: #c6c6c6;
	border-color: #e1e1e1;
}

.coral-button.btn-lg {
	padding: 4px 6px;
	font-size: 14px;
}

.coral-button.btn-xl {
	padding: 6px 9px;
	font-size: 16px;
}

.coral-button.btn-xxl {
	padding: 9px 14px;
	font-size: 18px;
}

.coral-btn-blue,.coral-btn-org {
	color: #fff;
}

.coral-button.coral-btn-blue {
	background: none repeat scroll 0 0 #428bca;
	border-color: #428bca;
	color: #fff;
}

.coral-button.coral-btn-org {
	background: none repeat scroll 0 0 #ea5504;
	border-color: #ea5504;
	color: #fff;
}

.coral-button.coral-btn-blue.coral-state-hover {
	background: none repeat scroll 0 0 #3780bf;
	border-color: #3780bf;
}

.coral-button.coral-btn-org.coral-state-hover {
	background: none repeat scroll 0 0 #de4e00;
	border-color: #de4e00;
}

.coral-button.coral-btn-blue.coral-state-active {
	background: #428bca;
}

.coral-button.coral-btn-org.coral-state-active {
	background: #ea5504;
}
/* to make room for the icon, a width needs to be set here */
.coral-button-icon-only {
	width: 26px;
}
/* button elements seem to need a little more width */
button.coral-button-icon-only {
	width: 26px;
}

.coral-button-icons-only {
	width: 3.4em;
}

button.coral-button-icons-only {
	width: 3.2em;
}
.coral-menubutton-buttons .coral-button .coral-button-text {
	white-space: nowrap;
}
/* button text element */
.coral-button .coral-button-text {
	display: block;
	line-height: 20px;
}

.coral-button-text-only .coral-button-text {
	padding: 2px 12px;
	line-height: 20px;
}

.coral-button-icon-only .coral-button-text{
	width: 0;
	text-indent: -9999999px;
}
.coral-button-icons-only .coral-button-text{
	width: .4em;
	text-indent: -9999999px;
}

.coral-button-text-icon-primary .coral-button-text,.coral-button-text-icons .coral-button-text
{
	padding: 2px 12px 2px 25px;
}

.coral-button-text-icon-secondary .coral-button-text,.coral-button-text-icons .coral-button-text {
	/*padding: 4px 25px 4px 12px;*/
	padding: 2px 25px 2px 12px;
	line-height: 20px;
}

.coral-button-text-icons .coral-button-text {
	padding-left: 25px;
	padding-right: 25px;
}
/* no icon support for input elements, provide padding by default */
input.coral-button {
	padding: 4px 12px;
}

/* button icon element(s) */
.coral-button-icon-only .icon,.coral-button-text-icon-primary .icon,.coral-button-text-icon-secondary .icon,.coral-button-text-icons .icon,.coral-button-icons-only .icon
{
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.coral-button-icon-only .icon {
	left: 50%;
	margin-left: -8px;
}

.coral-button-icons-only .coral-button-icon-primary{
	left: 6px;
}

.coral-button-text-icons .coral-button-icon-primary{
	left: 6px;
}

.coral-button-text-icon-primary .coral-button-icon-primary{
	left: 6px;
}

.coral-button-text-icon-secondary .coral-button-icon-secondary,.coral-button-text-icons .coral-button-icon-secondary,.coral-button-icons-only .coral-button-icon-secondary
{
	right: 6px;
}

/* button sets */
.coral-buttonset, .coral-outerbuttonset {
	margin-right: 0;
}

.coral-buttonset .coral-button,
.coral-outerbuttonset .coral-button{
	margin-left: 0;
	margin-right: 0;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.coral-button::-moz-focus-inner,button.coral-button::-moz-focus-inner
{
	border: 0;
	padding: 0;
}

.coral-button-icon-secondary.coral-icon.coral-icon-copy {
	background-position: -2px -448px;
}

.coral-button-icon-secondary.coral-icon.coral-icon-play {
	background-position: -4px -426px;
}

.coral-button-icon-primary.coral-icon.coral-icon-copy {
	background-position: -213px -235px;
}

/* splitbutton style */
.coral-splitbutton {
	display: inline-block;
	position: relative;
	width: auto;
}
.coral-button.coral-splitbutton-element, .coral-button.coral-splitbutton-dropdownbutton {
	margin-right: -1px;
}
/* .coral-button.coral-splitbutton-dropdownbutton.coral-button-icon-only .coral-button-text {
	padding: 2px 12px 2px 26px;
	line-height: 20px;
} */
.coral-button-icon-only .coral-button-text,.coral-button-icons-only .coral-button-text {
	padding: 2px 4px 2px 4px;
}
.coral-splitbutton .coral-splitbutton-element {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.coral-splitbutton .coral-button.coral-splitbutton-dropdownbutton {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}