.coral-datepicker {
	z-index: 9999;
	width: 260px;
	display: inline-block;
	white-space: nowrap;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.coral-readonly .coral-icon-calendar {
	color: #9a9a9a;
	cursor: default;
}

.coral-datepicker-no-close {
	padding-right: 22px;
}

.coral-datepicker-error .coral-datepicker-border {
	border: 1px solid #B94A48;
}

.coral-datepicker .coral-datepicker-header {
	position: relative;
	padding: .2em 0;
}

.coral-datepicker .coral-datepicker-prev, .coral-datepicker .coral-datepicker-next
	{
	position: absolute;
	top: 2px;
	width: 26px;
	height: 26px;
}

.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease;
}

.collapse.in {
	height: auto;
}

.coral-datepicker .coral-spinner .coral-textbox-border,
	.coral-datepicker .coral-spinner .coral-spinner-button {
	border-color: transparent; 
	box-shadow: none;
}
.coral-datepicker .coral-spinner-input:hover {
	background: #f2f2f2;
}
.coral-datepicker .coral-timepickerPanel td {
	text-align: center;
}

.coral-datepicker .menuSel td {
	padding: 8px 5px;
	text-align: center;
}

.picker-switch {
	padding: 10px;
}

.coral-datepicker .time-btn {
	padding: 10px 30px;
	color: #1e8fc6;
}

.coral-datepicker .time-btn:hover {
	background: #f2f2f2;
}

.coral-datepicker .coral-datepicker-prev-hover, .coral-datepicker .coral-datepicker-next-hover
	{
	top: 1px;
}

.coral-datepicker .coral-datepicker-prev {
	left: 2px;
}

.coral-datepicker .coral-datepicker-next {
	right: 2px;
}

.coral-datepicker .coral-datepicker-prev span, .coral-datepicker .coral-datepicker-next span
	{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -7px;
}

.coral-datepicker .coral-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}

.coral-datepicker .coral-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}

/* .coral-datepicker select.coral-datepicker-month, .coral-datepicker select.coral-datepicker-year {
	width: 40%;
} */
.coral-datepicker select.coral-datepicker-year {
	width: 40%;
}

.coral-datepicker select.coral-datepicker-month {
	width: 30%;
}

.coral-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
	table-layout: fixed;
}

.coral-datepicker td.separator {
	width: 10px;
}
.coral-datepicker .spinner-vertical.coral-spinner {
	margin: 0 auto;
}

.coral-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.coral-datepicker td {
	border: 0;
	padding: 1px;
}

.coral-datepicker td>span, .coral-datepicker td>a {
	display: block;
	padding: .2em;
	text-align: center;
	text-decoration: none;
}

.coral-datepicker td>span {
	text-align: right;
}

.coral-datepicker td>a.date-year {
	padding: 1em .2em;
}

.coral-datepicker .coral-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.coral-datepicker .coral-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}

.coral-datepicker .coral-datepicker-buttonpane button.coral-datepicker-current
	{
	float: left;
}

/* with multiple calendars */
.coral-datepicker.coral-datepicker-multi {
	width: auto;
}

.coral-datepicker-multi .coral-datepicker-group {
	float: left;
}

.coral-datepicker-multi .coral-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}

.coral-datepicker-multi-2 .coral-datepicker-group {
	width: 50%;
}

.coral-datepicker-multi-3 .coral-datepicker-group {
	width: 33.3%;
}

.coral-datepicker-multi-4 .coral-datepicker-group {
	width: 25%;
}

.coral-datepicker-multi .coral-datepicker-group-last .coral-datepicker-header,
	.coral-datepicker-multi .coral-datepicker-group-middle .coral-datepicker-header
	{
	border-left-width: 0;
}

.coral-datepicker-multi .coral-datepicker-buttonpane {
	clear: left;
}

.coral-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.coral-datepicker-rtl {
	direction: rtl;
}

.coral-datepicker-rtl .coral-datepicker-prev {
	right: 2px;
	left: auto;
}

.coral-datepicker-rtl .coral-datepicker-next {
	left: 2px;
	right: auto;
}

.coral-datepicker-rtl .coral-datepicker-prev:hover {
	right: 1px;
	left: auto;
}

.coral-datepicker-rtl .coral-datepicker-next:hover {
	left: 1px;
	right: auto;
}

.coral-datepicker-rtl .coral-datepicker-buttonpane {
	clear: right;
}

.coral-datepicker-rtl .coral-datepicker-buttonpane button {
	float: left;
}

.coral-datepicker-rtl .coral-datepicker-buttonpane button.coral-datepicker-current,
	.coral-datepicker-rtl .coral-datepicker-group {
	float: right;
}

.coral-datepicker-rtl .coral-datepicker-group-last .coral-datepicker-header,
	.coral-datepicker-rtl .coral-datepicker-group-middle .coral-datepicker-header
	{
	border-right-width: 0;
	border-left-width: 1px;
}

.coral-datepicker-time {
	float: left;
	width: 100%;
	background: #f6f8fa;
}

.coral-datepicker-time table {
	margin: .2em 0 .4em;
}

.coral-datepicker-time .coral-datepicker-time-str {
	width: 100%;
	margin-top: 5px;
	font-weight: bold;
}

.coral-datepicker-time .menuSel .menu {
	padding: 2px;
}

.coral-datepicker-time .datepicker-timeinput, .coral-datepicker-time .coral-datepicker-time-tm
	{
	height: 26px;
	text-align: center;
	border: #ccc 1px solid;
	outline: 0;
}

.coral-datepicker-time .datepicker-timeinput {
	width: 24px;
}

.coral-datepicker-time .coral-datepicker-time-tm {
	width: 7px;
	border-left: 0;
	border-right: 0;
}

.coral-datepicker-time .dptimespinner {
	width: 16px;
	display: inline-block;
	padding: 0;
	margin-left: -1px;
	vertical-align: top;
	line-height: 22px;
}

.coral-datepicker-time .coral-corner-all {
	border-radius: 0;
}

.coral-datepicker-time .dptimespinner .coral-textbox-default {
	padding: 0;
	width: 0;
}

.coral-datepicker-time .datepicker-time-input {
	margin-left: 5px;
}

.coral-datepicker-time .datepicker-time-tB1 {
	border-right: 0px;
}

.coral-datepicker-time .datepicker-time-tB2 {
	border-left: 0px;
}

.coral-datepicker-time .datepicker-time-tE {
	border-left: 0;
	border-right: 0;
}

.coral-datepicker-time #dpTimeUp {
	height: 10px;
	width: 13px;
	border: 0px;
	background: url(img.gif) no-repeat -32px -16px;
}

.coral-datepicker-time #dpTimeDown {
	height: 10px;
	width: 13px;
	border: 0px;
	background: url(img.gif) no-repeat -48px -16px;
}

.coral-datepicker-time .menuSel {
	z-index: 1;
	position: absolute;
	background-color: #FFFFFF;
	border: #ccc 1px solid;
}

.coral-isLabel input {
	background: transparent;
}

.coral-isLabel .coral-icon-calendar {
	display: none;
}

.coral-isLabel .coral-datepicker-border {
	border: 0 none;
	box-shadow: none;
}

.coral-isLabel img {
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor: "default";
}

input.coral-datepicker-textbox-default::-ms-clear {
	display: none;
}

.coral-icon-calendar {
	display: inline-block;
	cursor: pointer;
	right: 0;
	top: 0;
	position: absolute;
	padding: 5px;
}

.coral-datepicker.coral-component-content {
	background: #fff;
	border: 1px solid #ddd;
	padding: 0;
}

.coral-datepicker .coral-datepicker-header {
	padding: 6px 0;
	border: 0;
	border-radius: 0;
}

.coral-datepicker .date-month {
	padding: .8em 0;
	margin: .5em 0;
	width: 46px;
}

.coral-datepicker .coral-datepicker-prev, .coral-datepicker .coral-datepicker-next
	{
	top: 2px;
}

.coral-datepicker .coral-datepicker-prev span, .coral-datepicker .coral-datepicker-next span
	{
	cursor: pointer;
	font-weight: bold;
}

.coral-datepicker .coral-datepicker-header select, .coral-datepicker .coral-state-default
	{
	outline: 0;
	border: 0;
	background: #fff;
	color: #36a9e1;
}

.coral-datepicker .coral-state-hover
	{
	background: #f2f2f2;
}

.coral-datepicker .coral-datepicker-prev-hover, .coral-datepicker .coral-datepicker-next-hover
	{
	background: #f2f2f2 none;
	border: 0;
	border-radius: 0;
}

.coral-datepicker-calendar thead tr {
	background: #f6f8fa;
}

.coral-datepicker-calendar tbody tr td .coral-state-default {
	border: 0;
	background: #fff;
	color: #333;
	font-weight: normal;
	text-align: center;
}

.coral-datepicker .menuTimeSel.coral-state-hover {
	background: #1e8fc6;
	color: #fff;
}

.coral-datepicker .coral-datepicker-current, .coral-datepicker .coral-datepicker-close
	{
	font-weight: normal;
	color: #36a9e1;
	padding: 3px 8px;
	font-size: 13px;
	border: 1px solid #ddd;
	outline: 0;
}

.coral-datepicker-current.coral-state-default {
	/*margin-left:5px;*/
	
}

.coral-datepicker-current.coral-state-default.coral-state-hover,
	.coral-datepicker-close.coral-state-default.coral-state-hover {
	color: #aacafd;
}

.coral-datepicker-close.coral-state-hover {
	margin: 0;
}

.coral-datepicker-calendar tbody tr td .coral-state-hover {
	background: #f2f2f2;
	color: #36a9e1;
}

.coral-datepicker-calendar tbody tr td .coral-state-highlight {
	background: #fff;
	color: #0034c9;
}

.coral-datepicker-calendar tbody tr td .coral-state-active {
	color: #fff;
	background: #3892d3;
}

.coral-datepicker.coral-validation-datepicker {
	padding: 4px;
	border-radius: 0px;
	outline: 0;
	border: 0;
}

.coral-datepicker-time .coral-datepicker-time-str {
	margin-top: 0;
}

.coral-datepicker .menuTimeSel {
	padding: 1px 3px;
}

#dpTimeEnsure {
	float: right;
	display: inline;
	margin-right: 5px;
}

.coral-datepicker-current.coral-state-default {
	float: left;
	margin-left: 5px;
	background: #eee;
	border-radius: 0;
	border: 1px solid #ddd;
}

.coral-datepicker-close.coral-state-default {
	background: #eee;
	border-radius: 0;
	border-left: 1px solid #ddd;
}

.coral-datepicker-today a {
	color: #639FEF;
}