@font-face {
    font-family: 'cui';
    src:    url('fonts/cui.eot?okjut0');
    src:    url('fonts/cui.eot?okjut0#iefix') format('embedded-opentype'),
        url('fonts/cui.ttf?okjut0') format('truetype'),
        url('fonts/cui.woff?okjut0') format('woff'),
        url('fonts/cui.svg?okjut0#cui') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="cui-icon-"], [class*=" cui-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cui' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cui-icon-clock:before {
    content: "\e909";
}
.cui-icon-line4:before {
    content: "\e907";
}
.cui-icon-dottedLine:before {
    content: "\e901";
}
.cui-icon-centerDottedLine:before {
    content: "\e902";
}
.cui-icon-bottomDottedLine:before {
    content: "\e903";
}
.cui-icon-home:before {
    content: "\e900";
}
.cui-icon-pencil7:before {
    content: "\e914";
}
.cui-icon-folderClose:before {
    content: "\e9e7";
}
.cui-icon-folderOpen:before {
    content: "\e9e8";
}
.cui-icon-calendar4:before {
    content: "\ea62";
}
.cui-icon-spinner9:before {
    content: "\eb27";
}
.cui-icon-search2:before {
    content: "\eb30";
}
.cui-icon-zoom-in2:before {
    content: "\eb31";
}
.cui-icon-zoom-out2:before {
    content: "\eb32";
}
.cui-icon-enlarge5:before {
    content: "\eb41";
}
.cui-icon-shrink5:before {
    content: "\eb42";
}
.cui-icon-enlarge7:before {
    content: "\eb45";
}
.cui-icon-shrink7:before {
    content: "\eb46";
}
.cui-icon-key5:before {
    content: "\eb4b";
}
.cui-icon-lock4:before {
    content: "\eb50";
}
.cui-icon-unlocked:before {
    content: "\eb51";
}
.cui-icon-wrench:before {
    content: "\eb55";
}
.cui-icon-equalizer:before {
    content: "\eb58";
}
.cui-icon-equalizer2:before {
    content: "\eb59";
}
.cui-icon-cog2:before {
    content: "\eb5e";
}
.cui-icon-bin:before {
    content: "\ebfa";
}
.cui-icon-list:before {
    content: "\ec56";
}
.cui-icon-more2:before {
    content: "\ec59";
}
.cui-icon-menu:before {
    content: "\ec67";
}
.cui-icon-menu7:before {
    content: "\ec6e";
}
.cui-icon-menu8:before {
    content: "\ec6f";
}
.cui-icon-menu9:before {
    content: "\ec70";
}
.cui-icon-menu10:before {
    content: "\ec71";
}
.cui-icon-warning2:before {
    content: "\ed4d";
}
.cui-icon-notification2:before {
    content: "\ed4f";
}
.cui-icon-question4:before {
    content: "\ed53";
}
.cui-icon-plus3:before {
    content: "\ed5a";
}
.cui-icon-minus3:before {
    content: "\ed5b";
}
.cui-icon-plus-circle2:before {
    content: "\ed5e";
}
.cui-icon-minus-circle2:before {
    content: "\ed5f";
}
.cui-icon-cancel-circle2:before {
    content: "\ed63";
}
.cui-icon-blocked:before {
    content: "\ed64";
}
.cui-icon-cross2:before {
    content: "\ed6a";
}
.cui-icon-checkmark4:before {
    content: "\ed6f";
}
.cui-icon-loop3:before {
    content: "\eda7";
}
.cui-icon-first2:before {
    content: "\edb2";
}
.cui-icon-last2:before {
    content: "\edb3";
}
.cui-icon-arrowUp1:before {
    content: "\edb6";
}
.cui-icon-arrowRight1:before {
    content: "\edba";
}
.cui-icon-arrowDown1:before {
    content: "\edbe";
}
.cui-icon-arrowLeft1:before {
    content: "\edc2";
}
.cui-icon-arrow-up3:before {
    content: "\edb7";
}
.cui-icon-arrow-right3:before {
    content: "\edbb";
}
.cui-icon-arrow-down3:before {
    content: "\edbf";
}
.cui-icon-arrow-left3:before {
    content: "\edc3";
}
.cui-icon-arrow-up5:before {
    content: "\edc4";
}
.cui-icon-arrow-right5:before {
    content: "\edc5";
}
.cui-icon-arrow-down5:before {
    content: "\edc6";
}
.cui-icon-arrow-left5:before {
    content: "\edc7";
}
.cui-icon-checkbox-checked:before {
    content: "\ee63";
}
.cui-icon-checkbox-unchecked:before {
    content: "\ee64";
}
.cui-icon-checkbox-checkedPartical:before {
    content: "\e904";
}
.cui-icon-checkbox-uncheckedPartical:before {
    content: "\ee65";
}
.cui-icon-radio-checked:before {
    content: "\ee6e";
}
.cui-icon-radio-checkedPartical:before {
    content: "\e905";
}
.cui-icon-radio-unchecked:before {
    content: "\ee70";
}
.cui-icon-radio-uncheckedPartical:before {
    content: "\e906";
}
.cui-icon-toggle-on:before {
    content: "\ee71";
}
.cui-icon-toggle-off:before {
    content: "\ee72";
}
.cui-icon-new-tab:before {
    content: "\eec6";
}
.cui-icon-popout:before {
    content: "\eec8";
}
.cui-icon-file:before {
    content: "\e908";
}

