body {
	font-size: 18px;
}
.coral-textbox{
	height: 38px;
}
.coral-textbox-textarea {
	height: 64px;
}
.coral-textbox-border{
	height: 38px;
}
.coral-textbox-default {
	height: 36px;
}
.coral-combo-arrow {
    top: 10px;
}
.coral-button {
	padding: 6px;
}
.coral-icon-calendar {
    top: 6px;
}
.coral-dialog .coral-messager-box {
	left: 57%;
}
.coral-panel-title {
    height: 23px;
}
.coral-dialog-toolbar {
	top: 3px;
}
.coral-grid-pager {
	height: 34px;
}
.coral-panel-tool a {
    height: 23px;
}
.coral-tabs>.coral-tabs-nav>li>.coral-tabs-anchor {
	padding: 13px 14px;
}
.coral-splitbutton {
	height: 38px;
}
.coral-splitbutton .coral-splitbutton-element {
    height: 40px;
}
.coral-splitbutton .coral-button.coral-splitbutton-dropdownbutton {
    height: 40px;
}
.coral-combo-wrapper .coral-combobox-item {
	padding: 12px 12px;
}
.coral-menu .coral-menuitem-link {
	padding: 12px 14px;
}
.coral-toolbar-border {
    height: 40px;
}
.coral-button-icon-only .icon, .coral-button-text-icon-primary .icon, .coral-button-text-icon-secondary .icon, .coral-button-text-icons .icon, .coral-button-icons-only .icon {
	margin-top: -10px;
}
.coral-button-text-icon-primary .coral-button-text, .coral-button-text-icons .coral-button-text {
    padding: 2px 22px 2px 22px;
}
.coral-button-icon-only .coral-button-text, .coral-button-icons-only .coral-button-text {
    padding: 2px 4px 2px 4px;
}
.coral-button-text-only .coral-button-text {
	line-height: 24px;
}
.coral-button-text-icon-secondary .coral-button-text, .coral-button-text-icons .coral-button-text {
	line-height: 24px;
}
.coral-datepicker-time .datepicker-timeinput, .coral-datepicker-time .coral-datepicker-time-tm {
	height: 38px;
}
.coral-checkbox-label {
	line-height: 38px;
}
.coral-toolbar-html {
	line-height: 34px;
}
.coral-grid-columns .coral-state-default {
	font-size: 18px;
}
.coral-autocomplete-panel .coral-menu-item {
	padding: 12px 14px;
}
.coral-textboxlist-ul {
	padding: 6px 12px;
}
.coral-textboxlist .coral-textboxlist-item {
	height: 26px;
}
.coral-datepicker-time .dptimespinner {
	width: 20px;
}
.coral-textboxlist li { 
	margin: 0px 3px 2px 0;
}
.coral-slider-horizontal {
    height: 19px;
}
.coral-slider .coral-slider-handle {
	height: 25px;
}
.coral-dialog .coral-dialog-titlebar {
	padding: 12px 14px;
}
.coral-grid tbody td, .coral-grid tfoot td {
    height: 46px;
}
.coral-grid thead th {
    height: 52px;
}
.coral-textbox-close {
	top: 12px;
}
.coral-tree li a {
    line-height: 25px;
}
.coral-tree .treeLine {
    font-size: 26px;
    margin-left: -5px;
}
.coral-tree li span.switch.cui-icon-centerDottedLine {
	font-size: 26px;
    margin-left: -5px;
    margin-right: 9px;
    margin-top: 1px;
}
.coral-tree li span.switch.cui-icon-bottomDottedLine {
	font-size: 26px;
    margin-left: -5px;
    margin-top: 1px;
    margin-right: 9px;
}
.coral-progressbar {
	height: 23px;
}
.card-files .fileContent {
	height: 114px;
}
.coral-accordion .coral-accordion-header {
	padding: .9em .8em .9em .8em;
}
.coral-spinner-button {
	width: 24px;
}
.coral-menubutton-buttons .coral-button-icon-only .icon {
	margin-left: 12px;
}
.coral-menubutton-buttons .coral-splitbutton-dropdownbutton {
	width: 38px;
}
.coral-splitbutton-menu .coral-menuitem-text {
    margin-right: 8px;
}
.coral-toolbar .coral-toolbar-separator-horizontal {
	height: 40px;
}
.coral-spinner a.coral-spinner-button {
	padding-top: 5px;
}
.coral-validate-required,.hasErrorIcon .coral-errorIcon {
	top: 12px;
}
.coral-textbox .coral-textbox-btn-textico {
	padding: 10px 6px;
}
.coral-menu .menu-rightArrow {
	padding-left: 7px;
	line-height: 20px;
}
.coral-combo-filter {
	padding: 12px 0;
}
.coral-combo-filterbox {
	height: 29px;
}
.coral-combo-search {
	top: 12px;
}