.coral-resizable {
	position: relative;
}

.coral-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}

.coral-resizable-disabled .coral-resizable-handle,.coral-resizable-autohide .coral-resizable-handle
	{
	display: none;
}

.coral-resizable-n {
	cursor: n-resize;
	height: 10px;
	width: 100%;
	top: -5px;
	left: 0;
}

.coral-resizable-s {
	cursor: s-resize;
	height: 10px;
	width: 100%;
	bottom: -5px;
	left: 0;
}

.coral-resizable-e {
	cursor: e-resize;
	width: 10px;
	right: -5px;
	top: 0;
	height: 100%;
}

.coral-resizable-w {
	cursor: w-resize;
	width: 10px;
	left: -5px;
	top: 0;
	height: 100%;
}

.coral-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}

.coral-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}

.coral-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}

.coral-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}