.coral-slider {
	position: relative;
	text-align: left;
}
.coral-slider .coral-state-default {
	border: 1px solid #ccc;
	background: #fff;
}
.coral-slider .coral-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.coral-slider .coral-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.coral-slider.coral-state-disabled .coral-slider-handle,
.coral-slider.coral-state-disabled .coral-slider-range {
	filter: inherit;
}

.coral-slider-horizontal {
	height: .8em;
}
.coral-slider-horizontal .coral-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.coral-slider-horizontal .coral-slider-range {
	top: 0;
	height: 100%;
}
.coral-slider-horizontal .coral-slider-range-min {
	left: 0;
}
.coral-slider-horizontal .coral-slider-range-max {
	right: 0;
}

.coral-slider-vertical {
	width: .8em;
	height: 100px;
}
.coral-slider-vertical .coral-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.coral-slider-vertical .coral-slider-range {
	left: 0;
	width: 100%;
}
.coral-slider-vertical .coral-slider-range-min {
	bottom: 0;
}
.coral-slider-vertical .coral-slider-range-max {
	top: 0;
}