.coral-tree.coral-treebutton-panel {
	border: 1px solid #ced3ed;
	display: none;
	position: absolute;
	width: auto;
	margin: 17px;
	background: #fff;
	padding: 5px 10px 5px 0;
}

.coral-treebutton-tree  li a {
	line-height: 28px;
	width: auto;
}