@import url("iconfont/iconfont.css");
@import url("introjs.css");
@import url("tinyscrollbar.css");

$headHeight:60px;
$frombgColor:#d8d8d8;
$darkencommonblue:#0f6caf;



body,html{
	height: 100%;
	overflow: hidden;
}
.iconfont{
	background-image: none;
	width: auto;
	height: auto;
	line-height: normal;
	padding: 0;
	-webkit-text-stroke-width: 0px;
	margin-top: 0;
	vertical-align: middle;
}
.scrollbar1 .thumb .end,
.scrollbar1 .thumb{
	background:#ccc;
}
.sidebar-nav .iconfont{
	font-size: 20px;
}
.dragDemo{
	overflow:hidden;
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
}
@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (max-width: 979px) {
	.navbar-fixed-top { position:absolute; }
}
.label{
	background:#bbb;
}
.navbar-inverse .brand {width:180px; color:#fff; }
.brand img {float:left; margin:2px 10px 0 0; }
.brand .label {
	position:relative;
	left:10px;
	top:-3px;
	font-weight:normal;
	font-size:9px;
	background:#666;
	-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.edit .demo {
	position:relative;
	word-wrap: break-word;
	padding:10px;
}
.edit .demo:after {
	/*background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Container";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 0px 2px;
	position: absolute;
	top: -1px;*/
}
.header{
	position: relative;
	z-index: 222222;
}
.sidebar-nav {
	position:absolute;
	left:15px;
	bottom:30px;
	top:75px;
	z-index:10;
	color:#666;
}
.sidebar-nav .nav-header { cursor:pointer; font-size:14px;font-weight: normal; color:#fff; text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);position:relative;}
.sidebar-nav .nav-header span.label { font-size:10px; /*padding-bottom:0;*/ position:relative; top:-1px;}
.sidebar-nav .nav-header i.icon-plus {}
.sidebar-nav .nav-header .popover {color:#999; text-shadow:none;}
.sidebar-nav .nav-header span{
	vertical-align: middle;
}
.navhiddenTitle{
	line-height: 35px;
    font-size: 14px;
    position: relative;
}
.navhiddenTitle span{
	vertical-align: middle;
}

.popover-info {position:relative;}
.popover-info .popover {display:none; top: -12.5px; left:15px; }
.popover-info:hover .popover {display:block; opacity:1; width:400px;}
.popover-info:hover .popover .arrow {top:23px;}

.sidebar-nav .accordion-group { border:none; }
.boxes {}
.sidebar-nav li { line-height:35px; padding:0 15px;}
.sidebar-nav .preview { display: block; color: #333;
    font-size: 12px;
    line-height: 24px;
    margin-right: 30px;
    margin-left: 20px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px 0;}
.sidebar-nav .preview input { width:180px; padding:0 10px; background:#eee; font-size:10px; color:#999; line-height:20px; height:20px; position:relative; top:-1px;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border linear .2s, box-shadow linear .2s;
	margin-bottom: 10px;
}
.sidebar-nav .view { display: none; }
.sidebar-nav .remove,
.sidebar-nav .configuration { display: none; }

.sidebar-nav .boxes { display:none;}

.sidebar-nav .drag{
	top: 6px;
    background: transparent;
    right: 28px;
}

.demo .preview { display: none; }
.demo .box .view { display: block; padding-top:5px;height: 100%;}

.demo .box .lyrow .view{
	padding-top:0;
}
.edit .maindemo .lyrow{
	padding-left:0;
	padding-right:0;
}
.maindemo .lyrow{
	padding-left:10px;
	padding-right:10px;
}


.ui-draggable-dragging .view { display:block;}
/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!Important; border-radius: 4px; }*/
.ui-sortable-placeholder { outline: 1px dashed #ddd;visibility: visible!Important; border-radius: 4px;}
.edit .drag { position: absolute; top: 0;right: 0; cursor: pointer; }

.box,.lyrow { position:relative;}

.edit .demo .lyrow .drag,
.edit .demo .drag { top:-10px; right:16px; z-index:10; }
.edit .demo .column .box .configuration,
.edit .demo .configuration {position: absolute; top: -10px; right: 16px;white-space:nowrap;z-index: 1; }
.edit .demo .remove { position: absolute; top: -10px; right: -10px; z-index:10;background: #ca1515; }
.demo .configuration {
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	color: #fff;
}
.demo .remove:hover {
	color: #fff;
}
.demo .drag, .demo .remove {
	filter: alpha(opacity=0); opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
/*.demo .lyrow:hover > .drag,
.demo .lyrow:hover > .configuration,
.demo .lyrow:hover > .remove,
.demo .box:hover > .drag,
.demo .box:hover > .configuration,
.demo .box:hover > .remove { filter: alpha(opacity=100); opacity: 1; }*/
.lyhover{
	filter: alpha(opacity=100);
	opacity: 1;
}

.lyrow:hover > .drag,
.lyrow:hover > .remove,
.box:hover > .remove,
.box:hover > .drag{
	filter: alpha(opacity=100);
	opacity: 1;
}
.lyrow:hover > .box .drag,
.lyrow:hover > .box .remove{
	filter: alpha(opacity=0);
	opacity: 0;
}
.view{
	height: 100%;
}
.demo .row-fluid {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0 0 5px 0;
}
.column {
	padding: 4px;
	position: relative;
	min-height: 60px;
}
.maindemo .column{
	background-color: #f9f9f9;
	border-radius:4px;
	border:1px dashed #d3d3d3;
}

/* preview */
.devpreview { margin-left:0px;}
.devpreview .sidebar-nav {
	-webkit-transition: all 0ms ease;
	-moz-transition: all 0ms ease;
	-ms-transition: all 0ms ease;
	-o-transition: all 0ms ease;
	transition: all 0ms ease;
}
.devpreview .drag, .devpreview .configuration, .devpreview .remove { display:none !Important; }
.sourcepreview .column, .sourcepreview .row-fluid, .sourcepreview .demo .box {
	padding:0px;
	background:none;
	border:none;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}
.devpreview .demo .box, .devpreview .demo .row-fluid { padding-top:0; background:none; }
.devpreview .demo .column { /*padding-top:19px; padding-bottom:19px;*/ }
#download-layout { display: none }
#editorModal textarea,
#downloadModal textarea { width:100%;height:280px;resize: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; }
#editorModal {width:640px;}
a.language-selected { font-style: italic; font-weight: bold; }


.navbar-fixed-top { position:absolute; }

/**btngroup**/
.navbar .btn-group {
    margin-top: 11px;
}
.btn{
	outline: 0;
}

.edit .demo .box {
	.drag,
	.remove{
		top:-3px;
	}
	.drag{
		right:76px;
	}
	.remove{
		right:50px;
	}
}
/***btngroup**/


.prop,
.main,
.maindemo,{
	top:$headHeight;
}

/**属性面板***/
/******proper********/
.maindemo.propRight,
.contentMenu.propRight{
	right: 315px;
}
.maindemo,
.prop,
.contentMenu,
.sidebar-nav{
	transition: all .7s;
}
.prop{
	position: absolute;
	right: -100%;
	bottom: 30px;
	width: 285px;
	background: #fff;
	.propSet{
		> ul {
			margin-top: -34px;
		    margin-bottom: 0;
		    width: 113px;
		    text-align: center;
		    color: #333;
		    li a{
		    	color:#333;
		    	text-decoration: none;
		    	display:block;
		    	background:url(images/white.png) no-repeat left top;
		    	text-align: left;
			    padding: 7px 17px;
			    font-size: 15px;
		    }
		}
	}
	
}
.propBox{
	position: absolute;
    right: -100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5555;
}
.propRight{
	right: 15px;
}
.propSet{
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.propRight .propSet{
    overflow: inherit;
}

.propSet .coral-tabs>.coral-tabs-nav{
	background: transparent;
	border-bottom: 0;
	border-radius: 4px;
    overflow: hidden;
}
.propSet .coral-tabs>.coral-tabs-nav>li {
    background: #d7d7d7;
    border-radius: 0;
    width: 100%;
}
.propSet .coral-tabs>.coral-tabs-nav>li>.coral-tabs-anchor{
	padding: 8px 0px;
	width: 100%;
	color: #666;
	font-size: 14px;
	border: 0;
	text-align: center;
}
.propSet .coral-tabs>.coral-tabs-nav>.coral-state-hover>.coral-tabs-anchor{
	background: #dedede;
}
.propSet .coral-tabs>.coral-tabs-nav>.coral-tabs-active>.coral-tabs-anchor{
	border: 0;
	background: #3186e0;
    color: #fff;
}
.propSet .propdrop{
	background: url(img/dropright.png) no-repeat center;
	width: 25px;
	height: 180px;
	position: absolute;
	left: -25px;
	top: 50%;
	margin-top: -90px;
	cursor: pointer;
}
#propTabs{
	height:100%;
	#fragment-1 {
		height:100%;
		overflow: auto;
	}
}
#propTabs form{
	padding: 15px;
}
#propTabs form .coral-textbox{
	margin-bottom: -1px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px dashed #d3d3d3;
    height: 35px;
    .coral-textbox-border {
	    margin-top: 4px;
	    margin-right: 3px;
	    margin-left: 5px;
	}
	.coral-label{
		line-height: 34px;
	    text-align: right;
	    margin: 0;
	    border-right: 1px dashed #d3d3d3;
	    padding-right: 10px;
	}
}
/***属性面板*******/

.main{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.maindemo,
.contentMenu{
	position: absolute;
	bottom: 30px;
	right: 15px;
	top:75px;
	
}
.maindemo{
   overflow: auto;
}
.maindemo,
.prop{
   top:110px;
}
.devpreview .maindemo{
	left: 10px;
}
.maindemo .demo,
.maindemo .demo2{
	height: 100%;
}

.edit .demo div[xtype="layout"] .configuration{
	right: 30px;
}






/***********model******************/
.model,
.modelist,
.modelcontent{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
}
.modelist,
.modelcontent{
	top: $headHeight;
}
.model{
	z-index: 22222;
	top:0;
}
.modelist{
	width: 313px;
}
.modelcontent{
	left: 313px;
}
.modelcontentbox{
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	top: 0px;
}
.modelcontentHead,
.modelcontentArticle,
.modelcontentFooter{
	position: absolute;
	left: 15px;
	bottom: 30px;
	right: 15px;
	top: 10px;
}
.modelcontentFooter button{
	margin-top: 6px;
}

.modelcontentArticle{
	overflow: auto;
	bottom: 80px;
}
.modelcontentmenu{
	margin-bottom: 0;
}
.modelcontentmenu.headmenuUl li{
	float: left;
	margin-top: 0;
	background: #f5f5f5;
    color: #666;
}
.modelistbox{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.modelistHead,
.modelistArticle{
	position: absolute;
	left: 15px;
	top: 10px;
	right: 0px;
	bottom: 30px;
}
.modelistHead,
.modelcontentHead,
.contentMenu{
	height: 35px;
}

.modelistArticle,
.modelcontentArticle{
	top:45px;
}
.modelistArticle,
.modelcontentArticle,
.modelcontentFooter,
.sidebar-nav,
.maindemo,
.prop{
    background: #fff;
    border: 2px solid #d1d1d1;
    border-radius:10px;
}
.prop{
	border-top-left-radius:0;
}
.modelcontentArticle{
	border-radius:10px 10px 0 0;
	border-bottom:0;
}
.modelcontentFooter{
	top:auto;
	border-top:0;
	border-radius:0 0 10px 10px;
	height:50px;
	text-align:center;
}


/***head****/
.headbox{
	background: #0996d8 url(images/blue.png) top right no-repeat;
    color: #fff;
}
.headbox,
.headTitle,
.headBtnTeams,
.headBtnRight,
.headMenuBox{
	position: absolute;
	left: 0;
	top: 0;
	height: $headHeight;
	right: 0;
}


.sidebar-nav,
.headTitle,
.sidebartop{
	width: 250px;
}
.headMenuBox{
	left:250px;
}
.maindemo,
.contentMenu{
	left: 280px;
}


.headMenuBox{
	.asideMenuListUl {
		li{
			float:left;
			font-size:18px;
			padding: 0 40px;
			line-height:$headHeight;
			.iconfont{
				font-size:30px;
				margin-right: 5px;
			}
			span,
			label{
				cursor:pointer;
				margin-bottom:0;
			}
			&.current{
				background:#2db6f6;
			}
			&.opacity{
				opacity: .2;
				filter:alpha(opacity=20);
				cursor:default;
				span,
				label{
					cursor:default;
				}
			}
		}
	}
}

.devpreview .sidebar-nav{
	left: -250px;
}

.headTitle{
	background: $darkencommonblue;
	line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
}
.logo{
	font-size:25px;
	position:relative;
	margin-right:20px;
}
.logo i{
	font-style: normal;
    color: #c32402;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 0 1px rgba(0,0,0,.5);
    position: absolute;
    line-height: normal;
    right:-20px;
    top:0;
}

.headBtnTeams{
	right: auto;
}
.headBtnRight{
	left: auto;
}
.asideMenuListUl{
	margin:0;
}
.headmenuUl,
.modelcontentmenu{
	margin-right: 10px;
	margin-bottom:0;
	float:left;
	li{
		float: left;
	    margin-left: 2px;
	    margin-right:8px;
	    padding: 5px 8px;
	    border-radius: 4px;
	    background: #f5f5f5;
	    color: #666;
	    text-align: center;
	    cursor: pointer;
	    span,
	    label{
	    	cursor: pointer;
			vertical-align: baseline;
			margin: 0;
	    }
	    &.current{
	    	background: $darkencommonblue;
		    color: #fff;
		    .iconfont{
		    	color:#fff;
		    }
	    }
	}
}
.editview .iconfont:before {
	content: "\e66e";
}
.previewtext .iconfont:before {
	content: "\e785";
}


/*****aside****/
.navsearchbox,
.navsearchbox input,
.navsearchbox span{
	position: absolute;
	right: 0;
	top: 0;
}
.navsearchbox span{
	right: 7px;
	top: 7px;
}
.navsearchbox{
	right: 15px;
	top: 6px;
	background: #24b3ef;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 30px;
    transition: all .5s;
}
.navsearchbox input{
	padding: 0px 26px 0px 11px;
    border: 0;
    outline: 0;
    background: transparent;
    width: 0;
    color: #fff;
    line-height: 30px;
    box-sizing: border-box;
}
.navsearchbox.open {
	width: 140px;
}
.navsearchbox.open input{
	width: 100%;
}
.sidebarbox{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
.sidebarbox ul{
	margin-bottom: 0;
}
.navhiddenbox,
.navhiddenborder{
	position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.navhiddenborder{
	top: 0;
	border-radius: 4px;
	box-sizing: border-box;
}
.navhiddenbox .navhiddenTitle{
	padding: 0 5px;
}
.navhiddenarea{
	position: absolute;
    left: 0;
    top: 42px;
    bottom: 10px;
    right: 0;
}
.navhiddenarea .box{
	margin:0 10px;
}
.perName{
	width: 85px;
	display: inline-block;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    margin-left: 10px;
}

.waitingbox{
	position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    margin: 0;
}
#elmJS{
	position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 10px;
	padding-right: 0;
}

.demo > .view > form{
	box-sizing: border-box;
	height: 100%;
	padding: 0;
}
.demo > .view > form >.column{
	background: transparent;
	height: 100%;
	padding: 0;
}
.sidebar-nav .column{
	padding: 0;
	background: transparent;
	height: 100%;
}
.waitingbox .navhiddenTitle{
	padding-bottom: 10px;
}
.navlayout,
.waitingbox .navhiddenTitle,
.navhiddenbox,
.sidebar-nav{
	background: #fff;
	border-radius:10px;
}
.navlayout{
	position: relative;
}
.navlayout,
.waitingbox .navhiddenTitle,
.navhiddenbox{
	z-index: 4;
}
.waitingbox{
	top: 20px;
}
.navhiddenbox{
	height: 170px;
}
.sidebarbox{
	bottom: 170px;
}
#elmJS{
	top: 26px;
}

.edit .demo .lyrow > .drag{
	right:21px;
	background: #ccc;
	top:-5px;
}

.edit .demo .lyrow > .remove{
	right:-5px;
	top:-5px;
	background: #f97d7d;
}

.view .coral-label,
.modelcontentArticle .coral-label{
	text-align: right;
	padding-right: 10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.modelistbox,
.modelcontentbox,
.dragDemo {
	background:$frombgColor;
}

.modelcontentHead,
.modelistHead{
	top:10px;
	border:0;
}

.modelistHead{
	> span {
		margin-top: 6px;
    	display: inline-block;
	}
	span,
	label{
		font-size:14px;
		margin-left:2px;
	}
	.iconfont{
		margin-right:8px;
		color:$darkencommonblue;
	}
}

.model_isShowIntro,
.content_isShowIntro{
	float: right;
    margin-top: 6px;
}

.contentMenubox{
	height:100%;
	.headmenuUl{
		float:left;
		border-left: 1px solid #a9a9a9;
		padding-left:8px;
		margin-right:5px;
		li{
			margin-top:2px;
			.iconfont{
				color:#0f6caf;
			}
			&.current {
				.iconfont{
					color:#fff;
				}
			}
		}
		&:first-child {
			border-left:0;
			padding-left:0;
			.iconfont{
				color:#666;
			}
		}
		.lyrow{
			.remove,
			.view{
				display:none;
			}
			.drag{
				position: absolute;
			    left: 0;
			    top: 0;
			    right: 0;
			    left: 0;
			    background:transparent;
			    i{
			    	opacity:0;
			    	filter: alpha(opacity=0);
			    }
			}
		}
	}
}

.sourcepreview{
	.maindemo{
		top:75px;
	}
}

.sidebartop{
	position:absolute;
	left:15px;
	background:$frombgColor;
    top: 60px;
    height: 17px;
    z-index: 22;
}

.sidebar-nav{
	.preview {
		position:relative;
		.iconfont {
			font-size:14px;
		    position: absolute;
		    left: 0;
		    top: 0;
		    bottom: 0;
		    text-align: center;
		    padding: 7px;
		    background: #eee;
		    color: #666;
		}
		.perName{
			margin-left: 45px;
		}		
	}
	.drag{
		left: 20px;
	    top: 0;
	    bottom: 0;
	    right: 30px;
	    text-align: right;
	    line-height: 27px;
	    z-index: 2;
	}
	.waitingbox,
	.navhiddenborder{
		left:10px;
		right:10px;
		border:1px solid #ccc;
		border-radius:20px;
		top:20px;
	}
	.navhiddenborder{
		margin-bottom:15px;
	}
	.navhiddenTitle{
		margin-top: -21px;
	    padding: 0;
	    margin-left: 22px;
	    padding-bottom: 10px;
	    margin-right: 16px;
	    background: #fff;
	}
	.navhiddenarea{
		top:26px;
	}
	.box {
	    line-height: 32px;
	    height: 32px;
	    margin-bottom: 7px;
	}
}

.dragVersion{
	position:absolute;
	left:15px;
	bottom:0;
	right:0;
	background:$frombgColor;
    height: 32px;
    line-height: 30px;
    z-index: 22222;
    font-size: 12px;
    font-family: microsoft yahei,"微软雅黑";
}