@charset "utf-8";
@import url("iconfont/iconfont.css");

$common-color:#1B7DCE;
$white-color:#fff;
$font-color:#333;
$comon-border-radius:8px;
$common-margin-left:0.36rem;
$font-size:0.24rem;

$header-height:0.96rem;
$icon-logo-size:0.45rem;
$logo-text-size:0.38rem;


$menu-bg-color:#E5EEF9;
$menu-height:0.8rem;
$menu-font-size:0.32rem;
$menu-active-color:#1B7DCE;

$meunulist-height:0.7rem;
$menulist-icon-width:0.66rem;

$article-title-font-size:0.28rem;
$article-iconfont-size:0.5rem;

body{
	max-width: 7.5rem;
    min-width: 3.2rem;
	margin:0 auto;
}
.header{
	background:$common-color;
	height:$header-height;
	color:$white-color;
	span{
		display:inline-block;
		vertical-align: top;
    	line-height: $header-height;
	}
	.icon-logo{		
		margin-left:0.2rem;
		font-size:$icon-logo-size;
		margin-right:0.2rem;
		margin-top:0.26rem;
		background:url(../images/icon@2x.png) no-repeat;
		width:0.45rem;
		height:0.45rem;
		background-size: 100% 100%;
	}
	.logoText{
		font-size:$logo-text-size;
	}
}

.menu{
	height:$menu-height;
	background:$menu-bg-color;
	ul{
		float:left;
		width:100%;
		height:100%;
		li{
			float:left;
			width:25%;
			height:100%;
			a{
				font-size:$menu-font-size;
				color:$font-color;
				display:inline-block;
				text-align:center;
				width:100%;
				vertical-align:top;
				line-height:$menu-height;
			}
			&.current {
				a{
					color:$menu-active-color;
				}
			}
		}
	}
}

.slider{
	.slider-img{
		margin:0 auto;
		max-width:100%;
		height:5.63rem;
	}
}

.menulist{
	margin-bottom:$common-margin-left;
	ul{
		float:left;
		width:100%;
		li{
			float:left;
			width:50%;
			overflow:hidden;
			text-oveflow:ellipsis;
			white-space:nowrap;
			> p{
				margin:$common-margin-left #{$common-margin-left / 2} 0 $common-margin-left;
				border:1px solid $common-color;
				border-radius:$comon-border-radius;
				color:$font-color;
				font-size:$font-size;
				height:$meunulist-height;
				.iconfont{
					font-size:0.4rem;
					background:$common-color;
					border-radius:$comon-border-radius - 2;
					width: $menulist-icon-width;
				    display: inline-block;
				    height: 100%;
				    line-height: $meunulist-height;
				    text-align: center;
				    color:$white-color;
				}
				.iconfont,
				.menuText{
					vertical-align:middle;
				}
			}
			&:nth-child(even) {
				p{
					margin-right:$common-margin-left;
					margin-left:$common-margin-left / 2;
				}
			}
		}
	}
}


.article{
	margin:0 $common-margin-left $common-margin-left $common-margin-left;
	.article-title{
		font-size:$article-title-font-size;		
		color:$common-color;
		margin-bottom:#{$common-margin-left / 2};
		font-weight:bold;
		.iconfont{
			font-size:$article-iconfont-size;
			font-weight:normal;
		}
		span{
			vertical-align:middle;
		}
	}
	p{
		font-size:$font-size;
		color:$font-color;
		line-height:2;
		text-indent:0.24rem * 2;
	}
}