@charset "UTF-8";
/* 
 * Description: CSS Reset
 * Author:      DZH UED
 * Version:     2.0.0
 * Website:     //gw.com.cn/~
*/
/**
 *  Remove tap highlight color. Eg: orange highlight on some androids
 */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
 * 3. Force a vertical scrollbar to prevent a jumpy page
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 3 */ }

/**
 * Remove default margin, padding, background, outline, fontsize
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, main, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%; }

/**
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  line-height: 1; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, dialog, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9, Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display not defined in IE 6/7.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  /* 3 */
  *zoom: 1;
  /* 3 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title], dfn[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

address, cite, dfn, var {
  font-style: 400; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Removes border when inside `a` element in IE 6/7/8/9/10 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

a img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

/**
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', courier, monospace;
  font-size: 1em; }

/**
 * 1. Addresses CSS quotes not supported in IE 6/7.
 * 2. Addresses `quotes` property not supported in Safari 4.
 */
blockquote, q {
  quotes: none; }

/* 1 */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* 2 */
/* Forms
   ========================================================================== */
/**
 * Known limitation:by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue:affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in IE 6/7, Firefox 3+, Safari, and Chrome.
 * 4. Corrects font size not being inherited in all browsers.
 * 5. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  font-size: 100%;
  /* 4 */
  vertical-align: baseline;
  /* 5 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
  width: auto; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 * Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Removes excess padding in IE 7.
 * Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Removes default vertical scrollbar in IE 6/7/8/9/10/11.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  vertical-align: top;
  /* 2 */ }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE:the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * init table style.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Lists
   ========================================================================== */
ul, ol, li {
  list-style: none; }

/* Others
   ========================================================================== */
/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
/*::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
/**
 * Disables the default callout shown when you touch and hold a touch target.
 * On iPhone OS, when you touch and hold a touch target such as a link, Safari displays a callout containing information about the link.
 * This property allows you to disable that callout.
 */
.untouchcallout {
  -webkit-touch-callout: none; }

/**
 * The user is not able to select this text in Firefox, Chrome, Safari and IE
 */
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/**
 * hide
 */
.hide, .hidden {
  display: none; }

/**
 * scale images in IE7 more attractively
 */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/**
 * prevent BG image flicker upon hover
 */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

/**
 * float style & clearfix
 * http://www.qianduan.net/new-clearfix.html
 */
.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "\00A0";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

*:first-child + html .clearfix {
  zoom: 1; }

/**
 * flex-box style
 */
.hbox, .vbox {
  display: -webkit-box;
  /* old - ios 6-, safari 3.1-6 */
  display: -moz-box;
  /* old - firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* tweener - ie 10 */
  display: -webkit-flex;
  /* new - chrome */
  display: flex;
  /* new, spec - opera 12.1, firefox 20+ */
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch; }

.hbox {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  /* Chrome 21+ */
  -ms-flex-direction: row;
  /* WP IE 10 */
  flex-direction: row;
  /* android 4.4 */ }

.vbox {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  /* Chrome 21+ */
  -ms-flex-direction: column;
  /* WP IE 10 */
  flex-direction: column;
  /* android 4.4 */ }

.hbox > *, .vbox > * {
  display: block;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0; }

.spacer {
  -webkit-box-flex: 1;
  /* old - ios 6-, safari 3.1-6 */
  -moz-box-flex: 1;
  /* old - firefox 19- */
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 1px;
  height: 1px;
  /* for old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* chrome */
  -ms-flex: 1;
  /* ie 10 */
  flex: 1;
  /* new, spec - opera 12.1, firefox 20+ */ }

/* Print styles!
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* using black and white print faster */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* not display href or javascript links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* Media queries!
   ========================================================================== */
/* ================================== END =================================== */
body,
html {
  height: 100%; }

.mapWrap {
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-size: 0.24rem;
  color: #666;
  line-height: 1.4;
  overflow: hidden; }
  .mapWrap .iconfont {
    font-size: 0.3rem; }
  .mapWrap #allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑"; }
  .mapWrap #showDetailList2 {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 2; }
  .mapWrap #showDetailList2 {
    top: 100px; }

.secondWrap,
.resultWrap {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 99;
  width: 100%; }
  .secondWrap[id*="Box"],
  .resultWrap[id*="Box"] {
    width: 100%; }

.resultWrap {
  display: none; }

.r-result li > span:first-child {
  background: none !important;
  color: #23A340;
  font-family: "iconfont" !important;
  font-size: 0.4rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }
  .r-result li > span:first-child:before {
    content: "\e628";
    /*圆点*/
    position: absolute;
    top: -4px; }
.r-result > div {
  border: 0 !important;
  font-size: 0.24rem !important; }
  .r-result > div > div {
    background: transparent !important; }
    .r-result > div > div li {
      margin: 0 !important;
      padding: 0.2rem 0 !important;
      border-bottom: 1px solid #ddd;
      position: relative;
      line-height: 1.8 !important;
      font-size: 0.24rem; }
      .r-result > div > div li > div {
        padding: 0 0.2rem !important; }
        .r-result > div > div li > div > div {
          line-height: inherit !important;
          font-size: 0.24rem !important; }
          .r-result > div > div li > div > div:first-child {
            font-size: 0.3rem !important; }
            .r-result > div > div li > div > div:first-child + div b {
              display: none; }
          .r-result > div > div li > div > div > span {
            color: #333 !important; }
          .r-result > div > div li > div > div > a {
            color: #23A340 !important;
            display: none; }
.r-result a[title*="更多结果"] {
  display: none; }
.r-result #showDetailThumb {
  position: absolute;
  right: 0.4rem;
  bottom: 0.4rem;
  color: #23A340; }

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3); }

.searchListHead {
  height: 1.04rem;
  line-height: 1.04rem;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  font-size: 0.26rem; }
  .searchListHead .iconBack {
    padding: 0 0.4rem;
    display: inline-block;
    font-size: 0.3rem;
    color: #23A340;
    vertical-align: top; }
    .searchListHead .iconBack:active {
      background: #f2f2f2; }
  .searchListHead .headlist {
    position: absolute;
    left: 1.2rem;
    right: 0;
    top: 0; }
    .searchListHead .headlist > ul > li {
      float: left;
      width: 30%;
      text-align: center; }
      .searchListHead .headlist > ul > li label,
      .searchListHead .headlist > ul > li span {
        vertical-align: middle; }
      .searchListHead .headlist > ul > li .iconfont {
        font-size: 0.24rem; }
      .searchListHead .headlist > ul > li.current {
        color: #23A340; }
  .searchListHead .categoriesBox {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    display: none; }
    .searchListHead .categoriesBox .categoriesList {
      margin: 0.2rem;
      margin-top: 0;
      border-top: 1px solid #ddd; }
      .searchListHead .categoriesBox .categoriesList span {
        border: 1px solid #ddd;
        padding: 0.2rem 0.4rem; }
        .searchListHead .categoriesBox .categoriesList span:active, .searchListHead .categoriesBox .categoriesList span.current {
          border-color: #23A340;
          color: #23A340; }
  .searchListHead .headtance {
    position: absolute;
    right: 0.4rem; }
    .searchListHead .headtance .iconfont {
      color: #23A340; }
  .searchListHead .headName {
    color: #333;
    font-weight: bold;
    font-size: 0.3rem; }
  .searchListHead .headAddress {
    color: #666;
    margin-left: 0.4rem; }

.searchListBody {
  position: absolute;
  top: 1.04rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  font-size: 0.26rem;
  padding: 0.2rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .searchListBody .listUl li {
    padding: 0.2rem;
    border-bottom: 1px solid #ddd;
    position: relative;
    line-height: 1.8;
    font-size: 0.24rem; }
    .searchListBody .listUl li .iconfont,
    .searchListBody .listUl li .distance {
      position: absolute; }
    .searchListBody .listUl li .iconfont {
      color: #23A340; }
    .searchListBody .listUl li .icon-yuandian {
      font-size: 0.35rem; }
    .searchListBody .listUl li .storeName {
      font-size: 0.3rem;
      color: #333; }
    .searchListBody .listUl li .address {
      width: 65%;
      color: #999;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .searchListBody .listUl li .storeName,
    .searchListBody .listUl li .address {
      display: block;
      margin-left: 0.4rem; }
    .searchListBody .listUl li .distance {
      color: #999;
      bottom: 0.4rem;
      right: 1.2rem; }
    .searchListBody .listUl li .icon-liebiao {
      bottom: 0.4rem;
      right: 0.4rem; }
    .searchListBody .listUl li:active {
      background: #f2f2f2; }
  .searchListBody .searchThumblist li {
    float: left;
    width: 50%; }
    .searchListBody .searchThumblist li a {
      display: block;
      margin: 0.2rem;
      margin-right: 0.1rem;
      margin-left: 0;
      margin-top: 0;
      background: #fff;
      padding: 0.1rem; }
      .searchListBody .searchThumblist li a img {
        height: 2.2rem;
        width: 100%; }
      .searchListBody .searchThumblist li a .thumbname {
        color: #333;
        font-size: 0.34rem; }
      .searchListBody .searchThumblist li a .thumbname,
      .searchListBody .searchThumblist li a .thumbcodename,
      .searchListBody .searchThumblist li a .thumbcode {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .searchListBody .searchThumblist li a img,
      .searchListBody .searchThumblist li a .thumbname,
      .searchListBody .searchThumblist li a .thumbcodename,
      .searchListBody .searchThumblist li a .thumbcode,
      .searchListBody .searchThumblist li a .thumbline {
        margin-bottom: 0.1rem; }
      .searchListBody .searchThumblist li a .thumbline .iconfont {
        background: #23A340;
        border-radius: 50px;
        color: #fff;
        padding: 0.1rem;
        margin-right: 0.25rem;
        position: relative;
        font-size: 0.24rem;
        width: 0.34rem;
        height: 0.34rem;
        line-height: 0.34rem;
        display: inline-block;
        text-align: center; }
        .searchListBody .searchThumblist li a .thumbline .iconfont:after {
          content: " → ";
          position: absolute;
          right: -0.25rem;
          color: #999;
          font-size: 0.24rem;
          top: 0.12rem; }
        .searchListBody .searchThumblist li a .thumbline .iconfont:last-child:after {
          content: ""; }
      .searchListBody .searchThumblist li a:active {
        background: #f2f2f2;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
    .searchListBody .searchThumblist li:nth-child(even) a {
      margin-left: 0.1rem;
      margin-right: 0; }

#searchThumbBox .searchListBody {
  background: #f1f1f1; }

#searchThumbDetailBox .tImg,
#searchThumbDetailBox .tName,
#searchThumbDetailBox .tCodeName {
  margin-bottom: 0.4rem; }
#searchThumbDetailBox .tImg {
  max-height: 6rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
#searchThumbDetailBox .tName {
  font-size: 0.4rem;
  color: #333; }
#searchThumbDetailBox .tCode {
  color: #23A340; }

.tLineTool {
  position: relative;
  margin-bottom: 0.4rem; }
  .tLineTool .iconfont {
    background: #23A340;
    border-radius: 50px;
    color: #fff;
    padding: 0.1rem;
    margin-right: 0.25rem;
    position: relative;
    font-size: 0.24rem;
    width: 0.44rem;
    height: 0.44rem;
    line-height: 0.44rem;
    display: inline-block;
    text-align: center;
    margin-top: 0.4rem; }
    .tLineTool .iconfont:after {
      content: "↓";
      position: absolute;
      top: 1rem;
      color: #999;
      font-size: 0.5rem;
      left: 0.2rem; }
  .tLineTool:last-child .iconfont:after {
    content: ""; }
  .tLineTool .tooltipsbox {
    width: -webkit-calc(100% - 1.5rem);
    width: calc(100% - 1.5rem);
    float: right;
    padding: 0.2rem;
    background: #f2f2f2;
    position: relative;
    border-radius: 0.1rem; }
    .tLineTool .tooltipsbox:before {
      width: 0;
      height: 0;
      overflow: hidden;
      border-color: transparent #f2f2f2 transparent transparent;
      border-style: solid;
      border-width: 0.2rem 0.2rem 0.2rem 0;
      content: "";
      position: absolute;
      left: -0.19rem;
      top: 50%;
      margin-top: -0.2rem; }
    .tLineTool .tooltipsbox h1 {
      font-weight: normal;
      margin-bottom: 0.2rem;
      font-size: 0.3rem;
      color: #23A340; }
    .tLineTool .tooltipsbox span {
      position: absolute;
      right: 0.2rem;
      bottom: 0.2rem; }

#mapSearchBox {
  position: absolute;
  z-index: 3;
  width: 90%;
  left: 5%;
  top: 0.4rem;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.1rem; }
  #mapSearchBox .mapSearchTextG {
    padding: 0.1rem 0 0 0;
    margin: 0 0.2rem;
    border-bottom: 1px solid #ddd; }
  #mapSearchBox .iconZuobiao {
    position: absolute;
    left: 0.3rem;
    top: 0.2rem;
    font-size: 0.44rem;
    color: #23A340; }
  #mapSearchBox #mapSearchText {
    width: calc(100% - 2.2rem );
    padding-left: 0.4rem;
    font-size: 0.3rem;
    box-sizing: border-box;
    border: 0;
    margin-left: 0.4rem;
    outline: 0;
    height: 0.8rem;
    border-right: 1px solid #ddd;
    border-radius: 0; }
  #mapSearchBox .chooseDistance {
    font-size: 0.3rem;
    border: 0;
    outline: 0;
    width: 1.5rem;
    display: inline-block;
    text-align: right;
    margin-left: -4px;
    padding-bottom: 0.1rem;
    position: relative; }
    #mapSearchBox .chooseDistance .iconfont {
      color: #23A340;
      font-size: inherit; }
    #mapSearchBox .chooseDistance .chooseKm {
      position: absolute;
      left: 0;
      top: 100%;
      background: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      width: 100%;
      text-align: center;
      display: none; }
      #mapSearchBox .chooseDistance .chooseKm > span {
        display: block;
        padding: 0.2rem;
        border-bottom: 1px solid #ddd; }
        #mapSearchBox .chooseDistance .chooseKm > span:active {
          background: #f2f2f2; }

.mapserachResultBox {
  padding: 0 0.2rem;
  padding-top: 0.1rem;
  font-size: 12px; }
  .mapserachResultBox span,
  .mapserachResultBox label {
    vertical-align: middle; }
  .mapserachResultBox .mapserachResult {
    float: left;
    padding-bottom: 0.2rem;
    font-size: 12px; }
  .mapserachResultBox .mapserachResultShow {
    float: right;
    padding-bottom: 0.2rem; }
  .mapserachResultBox .mapSearchSum,
  .mapserachResultBox .iconfont {
    color: #23A340;
    font-size: inherit; }
  .mapserachResultBox .icon-zuobiao1 {
    color: #F2600C; }
  .mapserachResultBox .icon-zuobiao11 {
    color: #ED9900; }

.searchSort {
  position: absolute;
  left: 5%;
  top: 3.5rem;
  z-index: 3;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.1rem;
  text-align: center;
  font-size: 12px;
  width: 1rem; }
  .searchSort span {
    display: block; }
  .searchSort > span {
    padding: 0.1rem;
    border-bottom: 1px solid #ddd; }
    .searchSort > span span[class*="SUM"] {
      color: #23A340;
      font-size: 0.34rem; }
    .searchSort > span:active, .searchSort > span.current {
      background: #23A340;
      border-radius: 0.1rem; }
      .searchSort > span:active span, .searchSort > span.current span {
        color: #fff; }

.traceList {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: #fff;
  font-size: 12px;
  height: 55px;
  overflow: hidden; }
  .traceList > h1 {
    text-align: center;
    margin: 0.2rem; }
  .traceList .traceBox {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%; }
    .traceList .traceBox .tracepro {
      white-space: nowrap;
      display: inline-block;
      width: 100%;
      margin-bottom: 0.2rem;
      overflow: auto; }
      .traceList .traceBox .tracepro > a {
        margin: 0 0.4rem;
        position: relative; }
        .traceList .traceBox .tracepro > a:before {
          content: "|";
          position: absolute;
          right: -0.4rem; }

a[href*="http://api.map.baidu.com/place/detail"] {
  display: none; }

#searchThumblistBox {
  padding: 0.4rem; }

/*.BMap_Marker{
	&[title*="超市"]{
		@include iconfont;
		color:$orange-color;
		&:before {			
			content: "\e689";
		}
	}
	&[title*="菜场"]{
		@include iconfont;
		color:$yellow-color;
		&:before {			
			content: "\e61f";
		}
	}
	&[title*="批发市场"]{
		@include iconfont;
		&:before {			
			content: "\e6de";
		}
	}
	&[title*="餐饮企业"]{
		@include iconfont;
		&:before {			
			content: "\e603";
		}
	}
}*/

/*# sourceMappingURL=style.css.map */
